body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}

.tables{
    display: flex
  };
#pastables {
    background-color: green;
    align-items: center;
    display: flex;
}
#checktables{
    background-color: red;
}

#histbar{
  text-align: left;
  font-size: smaller;
  
}

#exitbutton{
  position: fixed;
  right: 1em;
  top: 1em;
}
#finalizebutton{
  position: absolute;
  top: 50%;
  width: 40%;
  text-align: center;
  font-size: 30px;
  bottom:10em;
  left: 50%;
}

