*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.show {
    display: block;
  }

  
 
.wrapper .sidebar{
    background: rgb(49, 49, 49);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    transition: all 1s ease;
}

.wrapper .sidebar ul li a.active{
    text-align: left;
    display: block;
    padding: 30px 30px;
    border-bottom: 0px solid #10558d;
    color: rgb(255, 255, 255);
    font-size: 22px;
    position: relative;
    bottom: -140px;
    border-top: 1px solid #10558d;
}

.wrapper .sidebar ul li a.inactive{
    text-align: left;
    display: block;
    padding: 30px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(129, 129, 129);
    font-size: 22px;
    position: relative;
    bottom: -140px;
    border-top: 1px solid #10558d;
}

.wrapper .sidebar ul li a.active:hover{
    color: #0c7db1;
    text-decoration: underline;
    background:white;
    border-left: 10px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a.inactive:hover{
    color: #30b0eb86;
    text-decoration: underline;
    background:rgb(100, 100, 100);
    border-left: 10px solid rgb(5, 68, 104);
    cursor: not-allowed;
}

/* Botão ativo */
.wrapper .sidebar ul li a.active1{
    text-align: left;
    display: block;
    padding: 30px 30px;
    border-bottom: 0px solid #10558d;
    color: #0c7db1;
    font-size: 22px;
    position: relative;
    bottom: -140px;
    border-top: 1px solid #10558d;
    text-decoration: underline;
    background:white;
    border-left: 10px solid rgb(5, 68, 104);
}



body{
    background: #ffffff;
}

.main{
    position: static;
    margin-left: 225px;
}

.main .buttons{
    text-align: center;
    margin: 8px;
}

.main .title{
    font-size: 50px;
    text-align: center;
    margin: 0px;
    margin-top: 100px;
    margin-bottom: 120px;
    outline: none;/*dashed 1px #10558d*/
}

.main .buttons .reser{
    position: static;
    padding-top: 5px;
    background-color: #434446;
    border: none;
    color: rgb(255, 255, 255);
    height: 46px;
    width: 300px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 16px 14px;
    cursor: pointer;
}

.main .buttons .reser:hover{
    color: #3d3838;
    text-decoration: underline;
    background:rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
}

.main .buttons .encom{
    position: static;
    padding-top: 5px;
    background-color: #434446;
    border: none;
    color: rgb(255, 255, 255);
    height: 46px;
    width: 300px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 16px 14px;
    cursor: pointer;
}

.main .buttons .encom:hover{
    color: #3d3838;
    text-decoration: underline;
    background:rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
}

.main .low{
    position: relative;
    bottom: -250px;
    right: -950px;
    border: none;
    margin-right: 950px;
}

.main .low .histo{
    padding-top: 5px;
    background-color: #434446;
    border: none;
    color: rgb(255, 255, 255);
    height: 46px;
    width: 300px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin:auto;
    cursor: pointer;
}

.main .low .histo:hover{
    color: #3d3838;
    text-decoration: underline;
    background:rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
}

.main .artigos {
    position: relative;
    bottom: -50px;
    right: -100px;
    display: inline-grid;
    grid-template-areas:
    'header header header header header header'
    'item1 item1 item2 item2 item3 item3';
    background-color: #ffffff;
    padding: 10px;
    grid-template-rows: 60px 120px;
    border: 1px dashed rgb(5, 68, 104);
}

.main .artigos .grid-item-0 {
    position: relative;
    margin-bottom: 0px;
    grid-area: header;
    text-decoration: underline;
    text-decoration-color: #0c7db1;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 2px;
    font-size: 30px;
    text-align: center;
}

.main .artigos .grid-item-1 {
    grid-area: item1;
    background-color: rgba(255, 255, 255);
    border: 0px dashed rgba(0, 0, 0, 0.8);
    padding: 0px;
    height: 130px;
    width: 150px;
    font-size: 15px;
    text-align: center;
}
.main .artigos .grid-item-2 {
    grid-area: item2;
    background-color: rgba(255, 255, 255);
    border: 0px dashed rgba(0, 0, 0, 0.8);
    border-left: 1px dashed rgba(0, 0, 0, 0.8);
    border-right: 1px dashed rgba(0, 0, 0, 0.8);
    padding: 0px;
    height: 130px;
    width: 150px;
    font-size: 15px;
    text-align: center;
}
.main .artigos .grid-item-3 {
    grid-area: item3;
    background-color: rgb(255, 255, 255);
    border: 0px dashed rgba(0, 0, 0, 0.8);
    height: 130px;
    width: 150px;
    padding: 0px;
    font-size: 15px;
    text-align: center;
}

.main .artigos .grid-item-1:hover {
    background-color: rgb(206, 139, 139);
    cursor: pointer;
}
.main .artigos .grid-item-2:hover {
    background-color: rgb(206, 139, 139);
    cursor: pointer;
}
.main .artigos .grid-item-3:hover {
    background-color: rgb(206, 139, 139);
    cursor: pointer;
}


.artigos {
    overflow: hidden;
}

