html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}


body{
    background-color: beige;
}

#popup{
    width: 60%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: black 1px;
    align-items: flex-start;
}

#popup img{
    max-width: 50%;
    max-height: 50%;
}

#popup #close{
    width: 20px;
    height: 20px;
}

#popup #foodimage{
    position: absolute;
    min-width: 200px;
    min-height: 200px;
    top: 0px;
    left: 0px;
}

#popup p{
    align-self: center;
    margin-left: 200px;
}

#popup #closeimage{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
}